<html>
  <head>
    <meta charset="utf-8"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="css/bugstats.css", rel="stylesheet"/>
    <title>The Great Inkscape Bug Migration</title>
  </head>
  <body>
    {% if updated %}<div class='updated'>Updated: {{updated}}</div>{% endif %}
    <div class='links'>{% for link in links %}{% if link.url != page.url %}
      <a class='link' href="{{link.url}}">{{link.text}}</a>
    {% endif %}{% endfor %}</div>
    {% block content %}{% endblock %}
  </body>
</html>
