{% extends "base.html" %}
{% block content %}
    <table class="catalog">
      <tr>
	<th class="image"></th>
	<th class="pts">Points</th>
	<th class="bio">Bio</th>
      </tr>
      {% for bug in bugs %}
      <tr>
	<td>
	  <img src="img/{{bug.name}}_Bug_300.gif" title="{{bug.name}}"/>
	  <div class="bug_name">{{bug.name|replace("_", " ")}} - {{bug.comment}}
	</td>
	<td>{{bug.pts}}</td>
	<td>{{bug.bio}}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}

