{% extends "base.html" %}
{% block content %}
    <p>FIXME: mark / sort as available / claimed</p>
    <table class="known">
      <tr>
	<th class="lp_id"></th>
	<th class="image"></th>
	<th class="pts">Points</th>
      </tr>
      {% for bug in bugs %}{% for reward in bugs[bug] %}
      <tr>
	<td><a href="https://bugs.launchpad.net/inkscape/+bug/{{bug}}" target="_lp_{{bug}}">{{bug}}</a></td>
	<td>
	  <img src="img/{{reward}}_Bug_50.gif" title="{{reward}}"/>
	  <div class="bug_name">{{reward|replace("_", " ")}}</div>

	</td>
	<td>{{special[reward].pts}}</td>
      </tr>
      {% endfor %}{% endfor %}
    </table>
{% endblock %}

