{% extends "base.html" %}
{% block content %}
    <table class="scoreboard">
      <tr>
	<th class="level">Level</th>
	<th class="score">Score</th>
	<th class="user">User</th>
	<th class="next">Next level</th>
	<th class="specials">Specials</th>
      </tr>
      {% for user in users %}
      <tr>
	<td><img src="img/{{user.level}}.png" alt="{{user.level}}"/></td>
	<td><a href="log/{{user.username}}.html">{{user.score}}</a></td>
	<td>{{user.username}}</td>
	<td>{% if user.next_lvl %}
	  <div class="bar_bg"><img src="img/bar.png" class="bar"
	    width="{{user.percent}}px"/></div><div class="next_txt">{{user.percent}}%, {{user.next_lvl}} pts.</div>  
	{% endif %}</td>
	<td>{% for special in user.specials %}
	  {% if special.count == 1 %}
	  <a href="{{special.href}}" target="_LP_{{special.lp_bug_id}}"><img src="img/{{special.special}}_Bug_50.gif" title="{{special.special}}: {{special.comment}}, {{special.pts}} for LP:{{special.lp_bug_id}}"/></a>
	  {% else %}
	  <img src="img/{{special.special}}_Bug_50.gif" title="{{special.special}}: {{special.comment}}, {{special.pts*special.count}} pts!"/>
	  <span class="multi">×{{special.count}}</span>
	  {% endif %}
	{% endfor %}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}

