<style>

body {
  font-family:roboto;color:#777;
 }

table {
  margin-left:auto;
  margin-right:auto;
 }

 th, td {
  padding: 10px;
  text-align: left;
  color:#777;
 }

 tr:nth-child(even) {
  background-color: #f2f2f2;
 }
 div.bar_bg {
  height:8px;
  width:100px;
  background:#999;
}
 img.bar {
  height:8px;
  background:url(../img/grad.png);
  background-repeat: no-repeat;
  background-size: 100px 20px;
 }
 div.next_txt {
  text-align: center;
 }

a:link {color: #555;}
a:visited {color: #555;}
a:hover {color: #555;}
a:active {color: #555;}

</style>
